.drawer-color {
    background-color: #34495e !important;
}
.selected-drawer-item {
    background-color: #34495e30
}

.selected-drawer-item:hover {
    background-color: #34495e66
}

.logo-section{
    text-align: center;
}

.logo-section img{
    width: 75px;
    padding: 0.5em;
}